//Patraic Kelly - 5/7/20


$c-primary: rgb(99, 32, 207);
$c-shadow: #3988ff;
$c-accent: rgb(0, 0, 0);
$c-bkgd: rgb(180, 180, 179);
$c-alert: #ff252c;
$c-input: rgb(69, 212, 176);


/* Layout Vars */
$heading-shadow-size: .12rem;
$space: 1.5rem;
$input-size: 14rem;